body {
  margin: 0;
  padding: 0;
}

#hint {
  color: #e2e3e3;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  margin: 3em auto;

  animation: blinking 3s infinite ease-in-out ;
}

@keyframes blinking {
  0%, 100% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }
}

#writer {
  margin: 5rem auto;
  font-family: 'Special Elite', cursive;
  font-weight: normal;
  font-size: 2em;
  text-align: center;
}